# REST
NEXT_PUBLIC_API_BASE_URL=/api

# WS
NEXT_PUBLIC_WS_ORIGIN=ws://localhost:8080

# api -> dev
API_ORIGIN=http://localhost:8080

# MSW-mocks: enabled = front without back, disabled = back with proxy
NEXT_PUBLIC_API_MOCKING=enabled